/*index.css*/

.container {
  margin:2.5%;
  padding:1%;

  border-radius: 5px;

  text-align: center;
  margin-bottom:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-aspect-ratio: 1/1) {
  /*width > height*/
    .container{
        flex-direction:row;
    }
}

.subContainer {
  text-align: center;

  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: end;
}
.link {
  font-weight: bold;
  margin: 1%;
  padding: 25px;

  font-size:clamp(1rem, 0.5rem + 3vmin, 20rem);
  cursor: pointer;
  border: 2px solid;
  border-radius: 5px;
  align-content:center;

  transition: background-color 0.3s;
  background-color: rgb(8, 120, 8);
}

.link:hover {
  background-color: rgb(14, 135, 14);
  @media (prefers-color-scheme: dark) {
    background-color: rgb(2, 105, 2);
  }
}

.TicTacToe {
  justify-content:center;
  display: grid;
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 1vmin;
}

.cell {
  width: 10vmin;
  height: 10vmin;
  
  font-size: 10vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border: 2px solid;
  @media (prefers-color-scheme: dark) {
    border:1px solid;
  }
}

.ConnectFour {
  justify-content:center;
  display: grid;
  grid-template-columns: repeat(7, 7vmin);
}

.column{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;

  gap:5px;
  padding: 10px;
  
  border-top:2px solid;
  border-bottom:2px solid;
  border-radius: .5vmin;

  border-left: .5px solid;
}

.slot {
  width: 5vmin;
  height: 5vmin;
  border-radius: 50%; /* Makes it a circle */

  border: 2px solid;
  font-size: 3vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;

  background-color: rgb(8, 120, 8);

  @media (prefers-color-scheme: dark) {
    border:1px solid;
  }
}

.tokenA {
  background-color: #FFC20A
}
.tokenB {
  background-color: #0C7BDC
}