/*index.css*/

.background {
  background-color: #f0f0f0;
}

.container {
  text-align: center;
  margin-bottom:auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.subContainer {
  text-align: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
}

.link {
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  font-size:clamp(1rem, 0.5rem + 3vw, 20rem);
  cursor: pointer;
  border: 2px solid #333;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
  align-content:center;
}

.link:hover {
  background-color: #45a049;
}

.TicTacToe {
  justify-content:center;
  display: grid;
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 1vmin;
}

.cell {
  width: 10vmin;
  height: 10vmin;
  color:black;
  border: 2px solid #333;
  font-size: 10vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s;
}

.ConnectFour {
  justify-content:center;
  display: grid;
  grid-template-columns: repeat(7, 5.5vmin);
}

.slot {
  width: 5vmin;
  height: 5vmin;
  border-radius: 50%; /* Makes it a circle */
  color:black;
  border: 2px solid #333;
  font-size: 5vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s;
}