.playerDisplay{
    position:relative;
    border: 3px solid #73AD21;
}
.dragHandle{
    cursor: "not-allowed";
    background-color:red;
}

.cell {
  width: 20vmin;
  height: 20vmin;
  border: 5 solid red;
  background-color:green;
}