/*index.css*/

.subAppContainer {
  font-family: Arial, sans-serif;
  display: flex;
  flex: 1 1;

  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.appContainer {
  font-family: Arial, sans-serif;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.gameMode{
  display:flex;
  font-size:8vmin;
  align-items:flex-end;
}

.board {
  justify-content:center;
  display: grid;
  grid-template-columns: repeat(3, 20vmin);
  grid-gap: 2vmin;
}

.cell {
  width: 20vmin;
  height: 20vmin;
  
  font-size: 10vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
  text-shadow: 1px  1px black;
  border: 2px solid black;
  @media (prefers-color-scheme: dark) {
    border: 1px solid white;
  }
}

.cellHighlight{
  background-color: green;
  @media (prefers-color-scheme: dark) {
    background-color: darkgreen;
  }
}
.cellFailure{
  background-color: red;
  @media (prefers-color-scheme: dark) {
    background-color: rgb(168, 5, 5);
  }
}

.token {
  font-size: 3vmin;
}

.resetButton {
  margin-top: 1vmin;
  margin-bottom:2vmin;
  padding: 1vmin 2vmin;
  font-size: 2vmin;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  background-color: #4caf50;
  color: #fff;
  transition: background-color 0.3s;
}

.errorMessage {
  color: #ff0000;
  margin-top: 10px;
  font-size: 1.2em;
}
.winner {
  background-color: #4caf50;
  color: #fff;
}
.inactiveAlert{
  display:none
}
.authAlert {
  margin-bottom: 15px;
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  
}
.exitButton {
  color:white;
  font-weight:bold;
  margin-right:15px;
}

.loadingCursor {
  cursor:wait;
}

@media (hover: hover) {
  .cell:hover {
    background-color: var(--clr-surface-a10);
  }
  .resetButton:hover {
    background-color: #45a049;
  }
  .exitButton:hover{
    color:black;
  }
}