/*index.css*/

.appContainer {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex:1 100 0;
}

.h1 {
  margin-bottom: 20px;
}

.board {
  justify-content:center;
  display: grid;
  grid-template-columns: repeat(7, 11vmin);
  
  gap: 3px;
}

.cell {
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%; /* Makes it a circle */
  
  font-size: 5vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: background-color 0.3s;
  border: 2px solid;
  @media (prefers-color-scheme: dark) {
    border: 1px solid;
  }
}

.tokenA {
  background-color: #FFC20A
}
.tokenB {
  background-color: #0C7BDC
}

.column{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;

  gap:5px;
  padding: 10px;
  border-radius: 10px;
}

.cellHighlight{
  box-shadow: 0 0 6px 2px red, inset 0 0 6px 2px red;
  @media (prefers-color-scheme: dark) {
    box-shadow: 0 0 6px 2px rgb(168, 5, 5), inset 0 0 6px 2px rgb(168, 5, 5);
  }
}
.cellFailure{
  background-color: red;
  @media (prefers-color-scheme: dark) {
    background-color: rgb(168, 5, 5);
  }
}

.nextToken {
  margin-top: 1vmin;
  font-size: 3vmin;
}

.resetButton {
  margin-top: 1vmin;
  padding: 1vmin 2vmin;
  font-size: 2vmin;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.errorMessage {
  color: #ff0000;
  margin-top: 10px;
  font-size: 1.2em;
}

.winner {
  background-color: #4caf50;
  color: #fff;
}

.inactiveAlert{
  display:none
}

.authAlert {
  margin-bottom: 15px;
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  
}
.exitButton {
  color:white;
  font-weight:bold;
  margin-right:15px;
}

@media (hover: hover) {
  .column:hover{
    background-color: var(--clr-surface-a20);
  }
  .cell:hover {
    background-color: var(--clr-surface-a10);
  }
  .resetButton:hover {
    background-color: #45a049;
  }
  .exitButton:hover{
    color:black;
  }
}