/*index.css*/

.appContainer {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.h1 {
  color: #333;
  margin-bottom: 20px;
}

.board {
  justify-content:center;
  display: grid;
  grid-template-columns: repeat(7, 11vmin);
  gap: 3px;
}

.cell {
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%; /* Makes it a circle */
  color:black;
  border: 2px solid #333;
  font-size: 5vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s;
}

.tokenA {
  background-color: #FFC20A
}
.tokenB {
  background-color: #0C7BDC
}

.column{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  gap:3px;
}
.column:hover{
  background-color: silver;
}
.cell:hover {
  background-color: #f0f0f0;
}

.cellHighlight{
  box-shadow: 0 0 6px 2px red, inset 0 0 6px 2px red;
}
.cellFailure{
  box-shadow: 0 0 6px 2px red, inset 0 0 6px 2px red;
}

.currentToken {
  margin-top: 1vmin;
  font-size: 3vmin;
  color: #333;
}

.resetButton {
  margin-top: 1vmin;
  padding: 1vmin 2vmin;
  font-size: 2vmin;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.resetButton:hover {
  background-color: #45a049;
}

.errorMessage {
  color: #ff0000;
  margin-top: 10px;
  font-size: 1.2em;
}
.winner {
  background-color: #4caf50;
  color: #fff;
}
.inactiveAlert{
  display:none
}
.authAlert {
  margin-bottom: 15px;
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  
}
.exitButton {
  color:white;
  font-weight:bold;
  margin-right:15px;
}
.exitButton:hover{
  color:black;
}