


.boat{
  width:10%;
  background-color:transparent;

  position:absolute;
  left:7.5%;
  bottom:2vw;

  transform: translate(-50%, -50%);
  animation: boatAnimation 2s linear infinite;
  animation-delay: 1.2s;
}
/*
.bigBoat{
  animation: bigBoatAnimation 3s linear infinite;
  animation-delay: 1.2s;
}
*/
.waveContainer {
  position: relative;
  width: 100vw;
  height:100vh;
  overflow: hidden;
}
.wave1 {
  position: absolute;
  left: 0;
  width: 100%; /* Double the width for smooth looping */
}
.wave2 {
  position: absolute;
  left: 0;
  width: 100%; /* Double the width for smooth looping */
}
.first {
  .wave1{
    animation: waveAnimation 7s linear infinite;

    bottom:0px;
  }
  .wave2{
    animation: waveAnimation 7s linear infinite;
    animation-delay: 3.5s;

    bottom:0px;
  }
  background-color:aqua;
}
.second {
  .wave1{
    animation: waveAnimation 12s linear infinite;

    bottom:2vw;
  }
  .wave2{
    animation: waveAnimation 12s linear infinite;
    animation-delay: 6s;

    bottom:2vw;
  }
}

.third{
  .wave1{
    animation: waveAnimation 17s linear infinite;

    bottom:4vw;
  }
  .wave2{
    animation: waveAnimation 17s linear infinite;
    animation-delay: 8.5s;

    bottom:4vw;
  }
}

@keyframes waveAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes bigBoatAnimation {
  0% {
    transform: translateY(-3%);
  }
  50% {
    transform: translateY(-0%);
  }
  100% {
    transform: translateY(-3%);
  }
}

@keyframes boatAnimation {
  0% {
    transform: translateY(-15%) rotate(0deg);
  }
  10%{
    transform: translateY(-20%) rotate(-7.5deg);
  }
  25%{
    transform: translateY(-45%) rotate(-20deg);
  }
  40%{
    transform: translateY(-70%) rotate(-5deg);
  }
  50%{
    transform: translateY(-75%) rotate(0deg);
  }
  60%{
    transform: translateY(-70%) rotate(5deg);
  }
  75%{
    transform: translateY(-45%) rotate(20deg);
  }
  90%{
    transform: translateY(-20%) rotate(7.5deg);
  }
  100%{
    transform: translateY(-15%) rotate(0deg);
  }
}
