
.sidebar{
    display:inline-flex;
    flex: 0 1 auto;
    flex-direction:row;
    font-size:clamp(1rem, 0.95rem + 0.25vmin, 1.25rem);
}
.sidebarContents{
    display:flex;
    flex: 1 0 auto;
    flex-direction:column;
    align-items:stretch;
    overflow:hidden;
}
.sidebarButton {
    padding:3px;
    min-height:100%;
}
.form{
    display:flex;
    flex-direction:column;
    padding: 20px;
    font-family: Arial, sans-serif;
    overflow:hidden;
}
.displayGrouping{
    display:flex;
    flex-direction:"row"
}
.line{
    height:2px;
    width:100%;
}
.label{
    margin-right: 10px;
    align-content:center;
    font-weight:bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.submitButton{
    align-self:stretch;
    margin-top:5px;
    background-color:#0070f3;
    color:#fff;
    border:none;
    border-radius:4px;
    cursor:pointer;
    padding-right:5px;
    padding-left:5px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow:clip;
}
.publicGames{
    display:flex;
    flex-direction:column;
    padding: 20px;
    font-family: Arial, sans-serif;
    overflow:hidden;
}
.cell {
  width:100%; 
  display:inline-flex;
  white-space: nowrap;
  background-color:var(--clr-surface-tonal-a20);
  border-bottom:.5px solid var(--clr-primary-a40);
  overflow:hidden;
  padding-left:5px;
}
.cellBlock {
  width:100%; 
  display:inline-flex;
  white-space: nowrap;
  overflow:hidden;
  border:.5px solid var(--clr-primary-a40);
}