/*index.css*/

.subAppContainer {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;

  display: flex;
  flex: 1 1;

  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.appContainer {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.gameMode{
  font-size:8vmin;
  margin-bottom:1.5vmin;
}

.board {
  justify-content:center;
  display: grid;
  grid-template-columns: repeat(7, 11vmin);
}

.cell {
  width: 9vmin;
  height: 9vmin;
  border-radius: 50%; /* Makes it a circle */
  
  font-size: 5vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: background-color 0.3s;
  border: 2px solid;
  @media (prefers-color-scheme: dark) {
    border: 1px solid;
  }
}

.tokenA {
  background-color: #FFC20A;
}
.tokenB {
  background-color: #0C7BDC
}

.column{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;

  gap:5px;
  padding: 10px;
  border-top:2px solid;
  border-bottom:2px solid;
  border-radius: .5vmin;
}

.cellHighlight{
  box-shadow: 0 0 6px 2px red, inset 0 0 6px 2px red;
  @media (prefers-color-scheme: dark) {
    box-shadow: 0 0 6px 2px rgb(168, 5, 5), inset 0 0 6px 2px rgb(168, 5, 5);
  }
}
.cellFailure{
  background-color: red;
  @media (prefers-color-scheme: dark) {
    background-color: rgb(168, 5, 5);
  }
}

.token {
  margin-top: 1vmin;
  font-size: 3vmin;
}

.resetButton {
  margin-top: 1vmin;
  margin-bottom:2vmin;
  padding: 1vmin 2vmin;
  font-size: 2vmin;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  background-color: #4caf50;
  color: #fff;
  transition: background-color 0.3s;
}

.winner {
  background-color: #4caf50;
  color: #fff;
}

.loadingCursor {
  cursor:wait;
}

@media (hover: hover) {
  .column:hover{
    background-color: var(--clr-surface-a20);
  }
  .cell:hover {
    background-color: var(--clr-surface-a10);
  }
  .resetButton:hover {
    background-color: #45a049;
  }
}