
.board {
  justify-content:center;
  display: flex;
  flex-direction:column;
}

.row {
  justify-content:center;
  display: flex;
  flex-direction:row;
}

.cell {
  width: 8vmin;
  height: 8vmin;
  
  font-size: 2vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: background-color 0.3s;
  border: 2px solid;
  @media (prefers-color-scheme: dark) {
    border: 1px solid;
  }
}

.token{
  width: 6vmin;
  height: 6vmin;
  border-radius: 50%; /* Makes it a circle */

  font-size: 2vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: background-color 0.3s;
  border: 2px solid;
  @media (prefers-color-scheme: dark) {
    border: 1px solid;
  }
}

.resetButton {
  margin-top: 1vmin;
  margin-bottom:2vmin;
  padding: 1vmin 2vmin;
  font-size: 2vmin;
  cursor: pointer;
  border: none;
  border-radius: 5px;

  background-color: #4caf50;
  color: #fff;
  transition: background-color 0.3s;
}

.tokenX {
  background-color: #FFC20A
}
.tokenO {
  background-color: #0C7BDC
}